html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-transition: background-color 2000ms linear;
  transition: background-color 2000ms linear;
}

button {
  opacity: 0;
  margin: 50px;
  min-width: 150px;
  min-height: 150px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  border: none;
  border-radius: 50%;
  font-family: 'Indie Flower', cursive;
  background-color: #ff00bf;
  font-size: 24px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 0 #ff00bf;
          box-shadow: 0 0 0 0 #ff00bf;
  -webkit-animation: pulse 3s infinite;
          animation: pulse 3s infinite;
  -webkit-transition: opacity 1500ms linear, -webkit-transform 500ms ease, -webkit-filter 1500ms ease;
  transition: opacity 1500ms linear, -webkit-transform 500ms ease, -webkit-filter 1500ms ease;
  transition: opacity 1500ms linear, transform 500ms ease, filter 1500ms ease;
  transition: opacity 1500ms linear, transform 500ms ease, filter 1500ms ease, -webkit-transform 500ms ease, -webkit-filter 1500ms ease;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 191, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 0, 191, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 191, 0);
            box-shadow: 0 0 0 10px rgba(255, 0, 191, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 191, 0);
            box-shadow: 0 0 0 0 rgba(255, 0, 191, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 191, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 0, 191, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 191, 0);
            box-shadow: 0 0 0 10px rgba(255, 0, 191, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 191, 0);
            box-shadow: 0 0 0 0 rgba(255, 0, 191, 0);
  }
}

button[data-action='start'] {
  color: #fff;
}

button[data-action='start']:hover:not(:disabled) {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

button[data-action='start']:disabled {
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-filter: opacity(50%) brightness(0.4);
          filter: opacity(50%) brightness(0.4);
  cursor: auto;
}

button[data-action='stop'] {
  color: #fff;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
}

button[data-action='stop']:hover:not(:disabled) {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

button[data-action='stop']:disabled {
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
  cursor: auto;
}

button[data-action='start']:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button[data-action='stop']:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
/*# sourceMappingURL=main.css.map */